{% extends "authentication/base.html" %}
{% block title %}Formulaire d'enregistrement{% endblock %}
{% block content %}
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if form.errors %}
                    {{form.errors }}
                {% endif %}
                <form method='post'>{% csrf_token %}
                {{ form.as_p }}
                    <button class="btn btn-outline-dark" type="submit">S'enregistrer</button>
                </form>

        </div>
        <div class="col-md-2">
            <a href="{% url 'login'%}">Retour</a>
        </div>
    </div>
{% endblock content %}