{% extends "authentication/base.html" %}

{% block title %}Ajouter un enfant{% endblock %}

{% block content %}
<div class=" flex flex-col items-center">
    <a class="w-full" href="javascript:history.back()">Annuler</a>
    <div class="mt-5">
        {% if form.errors %}
            {{form.errors }}
        {% endif %}
        <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
            <button class="btn btn-outline-dark" type='submit' >Ajouter</button>
        </form>
    </div>
</div>
{% endblock content %}