{% extends "authentication/base.html" %}


{% block title %}{{ambiance}}{% endblock %}

{% block content %}

<div class="flex">
    <div class="w-0.5/3 p-2 border-2 border-black bg-gray-200 rounded-lg">
        <h1 class="text-xl">{{ambiance}}</h1>


        <ul class="text-medium h-full w-full">
            {% if ambiance_end_date > today %}
                <li class="text-black "><a href="{% url 'add_child' ambiance_id=ambiance.id %}">Ajouter un nouvel enfant</a> </li>
                <li class="text-black "><a href="{% url 'ambiance_add_child' ambiance_id=ambiance.id %}">Ajouter un enfant</a></li>
            {% endif %}
            <li class="text-black "><a href="{% url 'ambiance'%}">Archives</a></li>
             <li class="text-black "><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
         <div id="mobile_icon" class=" absolute space-y-1 md:hidden bg-white right-4 cursor-pointer z-20">
                <div class="w-6 h-0.5 bg-black"></div>
                <div class="w-6 h-0.5 bg-black"></div>
                <div class="w-6 h-0.5 bg-black"></div>
         </div>
        <ul id="mobile_menu" class="hidden bg-gray-500 absolute left-0 top-0 w-full p-10 rounded-b-3xl space-y-10 text-white text-center">
            <li ><a href="{% url 'add_child' ambiance_id=ambiance.id %}">Ajouter un nouvel enfant</a> </li>
            <li ><a href="{% url 'ambiance_add_child' ambiance_id=ambiance.id %}">Ajouter un enfant</a></li>
            <li ><a href="{% url 'ambiance'%}">Archives</a></li>
             <li ><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
    </div>
    <div class="w-full flex flex-wrap">
        {% for student in students %}
            <div class="p-3 mb-1 ">
                <div class="w-40 p-2 border-2 shadow-lg shadow-gray-200 rounded-lg ">
                    <a href="{% url 'Vie_Pratique_change' student_id=student.id %}">
                        <img class="rounded-circle w-45 h-45 hover:bg-black " src="{{student.photo.url}}" alt="">
                    </a>
                    <div>
                        <p>
                            {{student.firstname}} {{student.lastname}} <br>

                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}