{% extends "authentication/base.html" %}

{% block title %}{{ambiance}}{% endblock %}

{% block content %}
<div class="flex">
    <div class="w-0.5/3 p-2">
        <h1 class="text-xl">{{ambiance}}</h1> <br>

        <a href="javascript:history.back()">Retour</a>
    </div>
    <div class="w-full flex flex-wrap">
            {% for student in students %}
                {% if student.ambiance != ambiance%}
                    <div class="p-3 mb-1">
                        <div class="w-40 p-2 border-2 shadow-lg shadow-gray-200 rounded-lg">
                            <img class="rounded-circle" src="{{student.photo.url}}" alt="">
                            {{student.firstname}} {{student.lastname}} <br>
                            <a href="{% url 'ambiance_add_old' ambiance_id=ambiance.id student_id=student.id %}">Ajouter</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock content %}