{% extends "authentication/base.html" %}
{% block title %}Bilan-{{student}}{% endblock %}
{% block content %}
<div class="flex flex-col mb-5">
    <div class="">
        {{student}} <br/>
        <a href="{% url 'Vie_Pratique_change' student_id=student.id %}">Retour</a>
    </div>
    <div class="">
        <p>{{ message}}</p>
        <form method='post'>
            {% csrf_token %}
                <table class="table table-bordered">
                    {{ form.as_table}}
                </table>
            <button class="btn btn-outline-dark" type='submit' >Imprimer</button>
        </form>
    </div>

</div>

{% endblock content %}