{% extends "authentication/base.html" %}

{% block title %}Modifier-{{student}}{% endblock %}
{% block content %}

<div class="container flex">
        <div class="w-40 flex flex-col p-2 mr-5">
            <p><img class="rounded-circle" src="{{student.photo.url}}" width="130" height="130"></p>
            <a href="javascript:history.back()">Retour</a>
        </div>
            <form class="w-full py-5" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-outline-dark" type='submit' >Enregistrer</button>
            </form>
</div>


{% endblock content %}