{% extends "authentication/base.html" %}
{% block title %}Ambiances{% endblock %}
{% block content %}
<div class="container flex flex-col items-center">
    <div class="w-full">
        <a href="{% url 'add_ambiance' %}">Ajouter une année scolaire</a>
    </div>
    <div class="w-full flex flex-wrap">
        {% for ambiance in ambiances %}
            <div class="m-4 border-2 p-2 rounded-lg shadow-lg shadow-gray-200">
                <a class="no-underline" href="{% url 'all_child' ambiance_id=ambiance.id%}"> {{ambiance}}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}