<!DOCTYPE html>
{% load tailwind_tags %}
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'authentication/css/styles.css'%}">-->
    </head>
    <body >
        <div class="flex">
            <nav class="border-2p-2 m-10">
                <div class="shadow-lg shadow-gray-200 rounded-lg fixed w-80">
                    <div class="mb-3 ">
                         <img class="rounded-circle" src="{{student.photo.url}}" alt="">
                    </div>
                    <ul class="">
                        <li>
                            <a class="py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'student_change' student_id=student.id %}">Profil</a>
                        </li>
                         <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'Vie_Pratique_change' student_id=student.id %}">Vie Pratique</a>
                        </li>
                         <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'Materiel_sensoriel_change' student_id=student.id %}">Matériel Sensoriel</a>
                        </li>
                         <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'Mathematiques_change' student_id=student.id %}">Mathématiques</a>
                        </li>
                        <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'Langage_change' student_id=student.id %}">Langage</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'print_choice' pk=student.id %}">Bilan</a>
                        </li>
                         <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'dossier_student' id=student.id %}">Dossier</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'all_child' ambiance_id=student.ambiance.id %}">Ambiance</a>
                        </li>
                         <li>
                            <a class="inline-block py-1 px-2 text-blue-500 hover:text-blue-800 font-semibold" href="{% url 'logout' %}">Déconnection</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div>
                <h1 class="text-base text-white">{{student.ambiance.name}}</h1>

            </div>

            <div class=" container mb-10 w-80">
                <div class="">
                    {% block content %}{% endblock content %}

                </div>

            </div>
        </div>
    </body>
</html>