{% extends "three_six/base.html" %}
{% block title %}Matériel Sensoriel-{{student}}{% endblock %}
{% block content %}
<h1>MATERIEL SENSORIEL</h1>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-">
            <div class="activiy_form">
                {% if form.errors %}
                    {{form.errors }}
                {% endif %}
                <form method='post'> {% csrf_token %}
                    <table class="table table-bordered table-responsive{-sm|-md|-lg|-xl}">
                        {{ form.as_table}}
                    </table>
                    <button class="btn btn-outline-dark" type='submit' >Enregistrer</button>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


{% endblock content %}